.supplier_filter_panel {
    margin-top: 20px;
}
.product_handler h2 {
    float: left;
    margin-right: 20px;
    margin-top: 0;
    line-height: 30px;
}
input#btnCreateProductFile {
    float: right;
}
.product_listing_panel input[type="text"] {
    max-width: 100%;
    font-size:13px;
}
.inventory_management_panel input.error {
    border: 1px solid red;
}

.inventory_management_panel th#order_qty {
    /*width: 85px;*/
}
input.arrived_qty_handler {
    width: 84px;
    line-height: 20px;
}
#supplier_meta_box input, #supplier_meta_box textarea, #supplier_meta_box select {
    width: 100%;
    line-height: 24px;
    max-width:600px;
}
.product_listing_panel th#amount {
    width: 100px;
}

.product_listing_panel th#product_supplier {
    width: auto;
}

.product_listing_panel th#product_variant {
    width: auto;
}
.order_product_files th:last-child {
    width: 65px;
}

.order_product_files th:nth-child(3) {
    width: 100px;
}

.order_product_files th:nth-child(2) {
    width: 130px;
}
.order_product_files th:nth-child(4) {
    width: 140px;
}
.product_listing_panel th#order_qty {
    /*width: 60px;*/
}
.product_listing_panel th#product_sku {
    width: 50px;
}
.woocommerce_options_panel .supplier_description{
    padding:15px;	
}
@media screen and (min-width: 1200px){
    .inventory_management_panel th#action {
        width: 260px;
    }
}
@media screen and (min-width: 784px) and (max-width: 1200px){
    .product_listing_panel .column-action .button {
        width: 100%;
        margin-top: 7px;
    }
    .product_listing_panel th#product_variant,
    .product_listing_panel th#order_date {
        width: auto;
    }
}
@media screen and (max-width: 760px){
    .product_listing_panel input[type="text"] {
        position: absolute;
        left: 25px;
    }

    .inventory_management_panel a.nav-tab {
        display: block;
        width: auto;
        float: none;
        text-align: center;
        margin: 0;
        width: calc( 100% - 20px );
        border: 1px solid #ccc;
    }
}
.inventory_management_panel.blockUI.blockOverlay:after {
    content: "";
    position: absolute;
    background: rgba(255,255,255,0.2);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
}

.inventory_management_panel.blockUI.blockOverlay {
    position: relative;
}

td.action.column-action.blockUI.blockOverlay {
    position: relative;
}
.inventory_management_panel.blockUI.blockOverlay:before,
td.action.column-action.blockUI.blockOverlay::before{
    opacity:0.5;
}
td.action.column-action.blockUI.blockOverlay::after {
    content: "";
    background: transparent;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

td.action.column-action.blockUI.blockOverlay:before {
    left: -14px;
    top: 22px;
}
#wpwrap .manage-column.column-supplier_id{
    width:60px;
}
.unit_delete{
    margin-top: -3px;
}
.default{
    font-size: 16px;
    font-style: italic;
    padding: 0 10px;
}

.product_listing_panel th#order_date{
    width: auto;
}

.product_listing_panel th#order_qty{
    width: 70px;
}

table#display_units td,table#company_shipping_address td{
    padding: 0;
}
table#display_units th{
    padding: 0 0 0 5px;
}
.unit_delete{
    height: 25px !important;
    line-height: 22px !important;
}
#supplier_show_in_low_stock{
    position: relative;
}
#supplier_show_in_low_stock:after{
    content: "";
    position: absolute;
    vertical-align: middle;
    top: 7px;
    left: 25px;
}
.supplier_variable_checkbox{
    position: relative;
    top: 25px;
    right: 168px;
}
.supplier_variable_checkbox:after{
    content: "";
    position: absolute;
    vertical-align: middle;
    top: 7px;
    left: 25px;
}
.description{
    font-size: 12px !important;
}
.default_unit span:first-child{
    margin-right: 36%;
    margin-left: 1%;
}
.product_listing_panel th#product_name{
    width: auto;
}
input.no_supplier{
    background-color: #ececec !important;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 0;
  height: 40px;
  background-color: #0073aa;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 20px;
}
.product_listing_panel th#purchase_price,
.product_listing_panel th#warning_level,
.product_listing_panel th#supplier_pack_size,
.product_listing_panel th#order_supplier_pack_size,
.product_listing_panel th#our_pack_size,
.inventory_management_panel th#product_stock,
.product_listing_panel th#total_pieces{
    width: 70px;
}   
@media screen and (min-width: 780px) and (max-width: 1350px){
    .product_listing_panel th#purchase_price,
    .product_listing_panel th#warning_level,
    .product_listing_panel th#supplier_pack_size,
    .product_listing_panel th#order_supplier_pack_size,
    .product_listing_panel th#our_pack_size,
    .inventory_management_panel th#product_stock,
    .product_listing_panel th#total_pieces{
        width: auto;
    }    
}
#per_page_items{
    float: right;
}

/*************** Order status css *******************/

.order_status_mark {
    float: right;
    height: 0;
    width: 0;
    border-radius: 25px;
}

span.order_status_mark.has_stock {
    border: 9px solid green;
}

span.order_status_mark.out_of_stock {
    border: 9px solid #d80202;
}

span.order_status_mark.product_without_track_in_stock {
    border: 6px solid green;
    height: 7px;
    width: 7px;
 }
span.order_status_mark.product_without_track_out_of_stock {
    border: 6px solid #d80202;
    height: 7px;
    width: 7px;
 }
tr.footer_row td:nth-child(2) {
    font-weight: bold;
    text-align:right;
}

tr.footer_row.footer_row_first td {
    border-top: 1px solid #ccc;
}

tr.footer_row {
    background-color: #fff !important;
}

tr.footer_row td {
    color: #333;
}


/********************************************/

